:root{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    --primary-color: #192036;
    --secondary-color: #6171A9;
    --tertiary-color: #61DAFB;
    --dark-bg-color: #181818;
    --dark-text-color: #e4e4e4;
    --transition-speed: 600ms;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    transition: background 300ms ease-in-out, color 1000ms ease-in-out;
}

.light{
    color: #000;
    background-color: #fff;
}

.dark{
    color: var(--dark-text-color);
    background-color: var(--dark-bg-color);
}

main{
    margin-left: 4rem;
    padding: 1rem;
}

section{
    margin-top: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto 4rem auto;
    text-indent: 2rem;
}

.container h1{
    font-size: 2.5rem;
    color: var(--tertiary-color);
    text-align: center;
}

.container h2{
    color: var(--tertiary-color);
}

header{
    height: 4rem;
    padding-left: 4rem;
    background-color: var(--primary-color);
    position: absolute;
    width: 96.6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    text-decoration: none;
}

.cabecalho{
    color: var(--secondary-color);
    font-size: 1.5rem;
    transition: var(--transition-speed);
}
.cabecalho:hover{
    color: var(--tertiary-color);
}


.title{
    text-align: center;
    font-size: 2rem;
}

#navbar{
    width: 4rem;
    height: 100vh;
    position: fixed;
    background-color: var(--primary-color);
    transition: width var(--transition-speed) ease;
    z-index: 999;
}

.navbar-nav{
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-item{
    width: 100%;
    height: 64px;

}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 64px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: var(--transition-speed);
}

.nav-link i{
    min-width: 32px;
    margin: 0 16px;
}

.fa-solid{
    color: var(--secondary-color);
    font-size: 24px;
    transition: var(--transition-speed);
}

.fa-file-pen{                            
    padding: 16px 5px;                      /*aligning menu icon*/
}

.nav-item:nth-child(2) .nav-text{
    margin-left: 5.5px;
}

.nav-text, .fa-angle-down{
    margin-left: 16px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.7s ease-in;
    font-size: 1rem;
}

#drop-nav{
    list-style: none;
    padding: 0;
}

.drop-link{
    text-decoration: none;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    height: 48px;
    text-align: left;
    justify-content: center;
}

.drop-link span{
    padding-left: 48px;
}

#navbar:hover {
    width: 13rem;
}

#navbar:not(.no-hover):hover .nav-text{
    visibility: visible;
    opacity: 1;
}

#navbar:not(.no-hover):hover .fa-angle-down{
    visibility: visible;
    opacity: 1;
}

.nav-link:not(.no-hover):hover{
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

.nav-link:not(.no-hover):hover .fa-solid{
    color: var(--tertiary-color);
}

.drop-link:hover{
    color: var(--primary-color);
}

.tab-content{
    display: none;
}

.active-content{
    display: block;
}

.no-hover{
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

.no-hover-icon{
    color: var(--tertiary-color);
}

.container-ref{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-ref h2{
    text-align: center;
}

.references{
    text-indent: 0;
    width: 45%;
    margin: auto;
    text-align: justify;
}

.form-container{ 
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

form{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    border-radius: 15px;
    margin-left: 2%;
}

.form-fields{
    display: flex;
    flex-direction: row;
    max-height: 20px;
}

.form-fields:nth-child(1){
    gap: 3px;
}

.form-fields input{
    max-height: 20px;
    width: 230px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
}

.textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.textarea label{
    margin-right: auto;
}

textarea{
    border-radius: 5px;
    width: 85%;
}

#btn{
    background-color: var(--tertiary-color);
    border-radius: 5px;
    border: none;
    width: 60%;
    height:30px;
    align-self: center;
    transition: var(--transition-speed);
}

#btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}


footer{
    height: 4rem;
    padding-left: 4rem;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    width: 96.6%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.rodape{
    color: var(--secondary-color);
}

footer a img{
    height: 1.5rem;
    padding: 10px;
}


#theme span{
    position: fixed;
    padding-left: 3.5rem;
}