:root{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --primary-color: #192036;
    --secondary-color: #00416C;
    --tertiary-color: #61DAFB;
}

body{
    color:black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--primary-color);
}

.navbar-nav{
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-item{
    width: 100%;
    padding: 1rem 0;
}

.nav-item:last-child{
    margin-top: auto;
}

.fa-solid{
    color: var(--tertiary-color);
    font-size: 24px;
}

.nav-text{
    display: none;
}